<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GesTicketSA</title>
    <link rel="stylesheet" type="text/css" href=../public/css/affecter.css>
</head>

<body>
    <div class="div1">  
        <img class="img-logo" src="../public/img/100x116.png" alt=""> 
        <div>
            <FORM action ="" method="post">
                <P>
                    <LABEL class="label" for="session">Session </LABEL>
                    <select class="select" name="session">
                        <option value=""> </option>
                        <option value="presentiel">2017-2018</option>
                        <option value="online">2018-2019</option>
                      </select><BR><BR>
                    <LABEL class="label" for="referentiel">Référentiel</LABEL>
                        <select class="select" name="referentiel">
                        <option value=""> </option> 
                        <option value="refdig">Référent digital</option>
                        <option value="devweb">Développement web</option>
                        <option value="dataartisan">Data artisan</option>
                        </select><BR><BR>
                    <LABEL class="label" for="effectif">Effectif</LABEL>
                    <INPUT type="integer" name="effectif"><BR><BR>
                    <button class="btn1" type='reset'><a href="creersession.php">Annuler</a></button>
                    <button class="btn2" type='submit'>Créer</button>
                </P>
            </FORM>
        </div>
    </div>  
</body>
</html>

