<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer référentiel</title>
    <link rel="stylesheet" type="text/css" href=/var/www/html/gesticketSA/public/css/creerref.css/> 
</head>


<body>
       
<div class="formulaire">
      
    <img class="img-logo" src="../public/img/100x116.png" alt=""> 

    <form action="/action_page.php" class="formu">
      
              <label for="Name">Nom</label>
              <input class="champ-nom" type="text" name="Nom" value="">  
              <br>
    
              <label for="Name">Date de création</label>
              <input class="date-creation" type="text" name="dateCréation" value="">
              <br><br>

              <input class="annul" type="reset" value="Annuler">

              <input class="ajout" type="submit" value="Ajouter">  

    </form> 

</div>

</body>
</html>
