<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href=/var/www/html/GesticketSA-table4/public/css/creeruser.css/>

    <img class="img-logo" id ="img-logo" style="width: 50px" src="../public/img/icone deconnexion.jpg" alt=""> 
    <input class="btn" type="submit" name="Connexion" value="Se déconnecter";>


</head>


<body>
    <div> 
        <h1 style="text-align: left;">Créer un utilisateur</h1>
        <img class="img-logo" src="../public/img/100x116.png" alt=""> 

        <div style="margin-left: 450px ">
                <form action="" method="get" class="login-box">
                        <div class="textbox">  
                            <label for="">Nom</label>
                            <input type="text" placeholder="Nom" name="Nom" value="" >  
                        </div>

                        <div class="textbox">
                            <label for="">Prénom</label> 
                            <input type="password" placeholder="Prénom" name="Prénom" value="" > 
                        </div>

                        <div clamargin-left: 450px;margin-left: 450px;ss="textbox"> 
                            <label for="">Profil</label>
                            <input type="password" placeholder="Profil" name="Profil" value="" > 
                        </div>

                        <div class="textbox"> 
                            <label for="">Mot de passe</label>
                            <input type="password" placeholder="Mot de passe" name="MotDePasse" value="" > 
                        </div>

                        <div class="textbox">
                            <label for="">Confirmer mot de passe</label> 
                            <input type="password" placeholder="Confirmer mot de passe" name="Confirmer mot de passe" value="" > 
                        </div>

                        <input class="btn" type="submit" name="annuler" value="Annuler">
                        <input class="btn" type="submit" name="Connexion" value="connexion">
                    </form>
        </div>

    </div>


</body>

</html>