<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer référentiel</title>
    <link rel="stylesheet" type="text/css" href=/var/www/html/gesticketSA/public/css/creerref.css/> 
</head>


<body>
<div class="formulaire">
      
    <img class="img-logo" src="../public/img/100x116.png" alt="" style="margin-top: 20px; margin-left: 20px; "> 

    <form action="/action_page.php" class="formu">
      
      <label for="Name">Nom</label>
      <input type="text" name="Nom" value="" 
      style="margin-left:115px; 
             border:2px solid darkcyan;
             padding-top: 10px">  
      <br>
    
      <label for="Name">Date de création</label>
      <input type="text" name="dateCréation" value="" 
      style="margin-top: 30px; 
             margin-left: 20px; 
             border:2px solid darkcyan;
             padding-top: 10px">
      <br><br>

      <input type="reset" value="Annuler" 
      style="background-color: #EB7D06; 
             margin-top: 20px;
             padding-top: 10px;
             padding-left: 70px">

      <input type="submit" value="Ajouter" 
      style="background-color: #EB7D06; 
             margin-left: 125px;
             padding-top: 10px;
             padding-left: 70px" >  

    </form> 

</div>

</body>
</html>
