<!DOCTYPE html>
<html lang="fr">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
</head>
<body>
        <title>liste Des Utilisateurs</title>
         <input type="submit" name="Creer une Sessions" value="creer une Sessions" style="position: absolute;
        margin-top: 150px;
        margin-left: 950px;
        background-color: #EB7D06; ">
        <select name="Sessions" id=""style="position: absolute;
        margin-top: 150px;
        margin-left: 950px;
        background-color: #EB7D06; " >
            <option value="">+Session</option>
            <option value="">Liste des Sessions</option>
        </select>
         <input type="submit" name="Utilisateur" value="Utilisateur" style="margin-left: 1200px;
         position: absolute;
         margin-top: 150px;
         background-color: #40B573">
         <select name="Sessions" id="" style="margin-left: 1200px;
         position: absolute;
         margin-top: 150px;
         background-color: #40B573;" >
             <option value="">+Utilisateur</option>
             <option value="">Liste des Utilisateurs</option>
         </select>
    <div style="margin-left: 500px;">
           

<img class="img-logo" src="../public/img/100x116.png" alt="" style="margin-top: 50px;"> 
<h1 style="margin-top: -20px;
            margin-left: 100px;">Liste des Utilisateurs</h1>
<div>
    <style>
    table{border-collapse: collapse;}
    th,td{border: 1px solid #000; padding:20px;}
        </style>

<table style="margin-left: 80px;">
    <thead>
<tr>
<th>Nom</th>
<th>Prenom</th>
<th>Profil</th>
<th>login</th>
</tr>
</thead>
<tbody>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tr>
<tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
</tbody>
</div>
</div>

</table>
</body>