<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des utilisateurs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/listeuser.css">
    <img class="img-logo" id ="img-logo" src="../public/img/icone deconnexion.jpg" alt=""> 

    <input class="btn" type="submit" name="Connexion" value="Se déconnecter";>

</head>


<body>
        <h1 style="text-align: left;">Liste des utilisateurs</h1>
        <img class="img-logo"  src="../public/img/100x116.png" alt=""> 

        <div class="table-liste-user">
            <table style="width:80%">
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th> 
                  <th>Profil</th>
                  <th>Login</th>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
            </table>
        </div>

</body>
</html>