<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GesTicketSA</title>
    <link rel="stylesheet" type="text/css" href=/var/www/html/GesticketSA-table4/public/css/login.css/>  
</head>


<body>
 <div> 
    <h1>BIENVENUE</h1>
    <img src="../public/img/100x116.png" alt=""> 

    <div class="login-box">
        <h1>S'identifier</h1>
        <form action="" method="get" class="login-box">
            <div class="textbox">  
                <label for=""></label> 
                <input type="text" placeholder="e-mail" name="" value="" >  
            </div>
            <div class="textbox">
                <input type="password" placeholder="mot de passe" name="" value="" > 
            </div>
            <input class="btn" type="submit" name="Connexion" value="connexion">
        </form>
    </div>  
</body>

</html>