<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GesTicketSA</title>
    <link rel="stylesheet" type="text/css" href=/var/www/html/GesTicketSA/public/css/session.css>
</head>

<body>
    <div>
        <img src="../public/img/100x116.png" alt="">
        <i class="fas fa-user-alt"></i>
        <h6>Se déconnecter</h6>
        <h1 style="position: absolute;top:50px;left:200px;">Créer une Session</h1> 
        <div>
            <FORM action ="" method="get">
                <P>
                    <LABEL for="text">Nom </LABEL>
                    <input type="text" id="nom" style="margin-left:60px;"><BR><BR>
                    <LABEL for="nom">Année </LABEL>
                    <INPUT type="text" id="année" style="margin-left:50px;"><BR><BR>
                    <LABEL for="date">Date début </LABEL>
                    <INPUT type="text" id="date" style="margin-left:12px;"><BR><BR>
                    <LABEL for="date">Date fin </LABEL>
                    <INPUT type="text" id="date"style="margin-left:40px;"><BR><BR>
                    <LABEL for="effectif">Effectif total </LABEL>
                    <INPUT type="text" id="effectif"style="margin-left:105px;margin-top:-19px;"><BR><BR>
                    <input type="submit" value="Annuler"style="margin-left:150px;">
                    <input type="submit" value="Créer" style="margin-left:275px;">
                </P>
            </FORM>
        </div>
    </div>  
</body>
</html>

