img{
    position: absolute;
    margin-top: 30px;
    margin-left: -900px;
}
form{
    position: absolute;
    top: 280px;
    left: 500px;
}

input {
    position: absolute;
    margin-left:100px;
}
.div1 {
    border: 6px solid darkcyan;
    height: 600px;
    width: 1000px;margin-left: 200px;
    margin-top: 80px; 
    background-image:url('../public/img/bj1.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

select  {
    margin-left:100px;
    width:244px;
}


.btn1 {
    background-color: coral; 
    height: 40px; 
    width: 140px;
    margin-left: 70px;
    margin-top: 50px;
}
.btn2 {
    background-color:#40B573; 
    height: 40px; 
    width: 140px;
    margin-left: 50px;
}
label{
    position: absolute;
}