body{
    width: 800px;
    height:500px;
    border: 2px solid darkcyan;
    border-radius: 1px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
    margin-right:150px;
}

img{
    position: absolute;
    top: 10px;
    left:50px;
}
form{
    position: absolute;
    top: 150px;
    left: 250px;
}

input {
    position: absolute;
}

h6{
    position: absolute;
    margin-left: 650px;
    margin-top: 60px;
}